@font-face {
  font-family: mwYFont;
  src: url("..\\font\\mwyFont.ttf");
}

body,
html {
  height: 100%;
  margin: 0;
  color: #000;
}
header {
  height: 100%;
}
.bgimg {
  position: relative;
  background-position: 25% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("..\\img\\aaronweiss.jpg");
  height: 100vh;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 10px;
  font-size: 7vh;
  font-family: mwYFont;
}
#main {
  display: grid;
  grid-template-columns: 55% 45%;
}
.grid-container {
  margin: 2vh;
  height: 96vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    ".   .   ab1 ab1 .     ."
    "ab2 ab2 ab1 ab1 ab6 ab6"
    "ab2 ab2 ab3 ab3 ab6 ab6"
    "ab4 ab4 ab3 ab3 ab7 ab7"
    "ab4 ab4 ab5 ab5 ab7 ab7"
    ".   .   ab5 ab5 .     .";
  gap: 15px 15px;
}
.block img {
  border: black 2px solid;
  max-width: 100%;
  max-height: 100%;
}
.ab1 {
  grid-area: ab1;
}

.ab2 {
  grid-area: ab2;
}

.ab3 {
  grid-area: ab3;
}

.ab4 {
  grid-area: ab4;
}

.ab5 {
  grid-area: ab5;
}

.ab6 {
  grid-area: ab6;
}

.ab7 {
  grid-area: ab7;
}

#album-description {
  padding: 25px;
  margin: auto 5%;
  border: black 2px solid;
}
#album-description h2 {
  margin: 5px 0;
}
#album-description ul {
  margin: 0;
  padding: 0;
}
#album-description li{
  list-style-type: none;
}
