@font-face {
  font-family: mwYFont;
  src: url("..\\font\\mwyFont.ttf");
}

body,
html {
  height: 100%;
  margin: 0;
  color: #000;
}
header {
  height: 100%;
}
.bgimg {
  position: relative;
  background-position: 25% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("..\\img\\aaronweiss.jpg");
  height: 100vh;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 10px;
  font-size: 7vh;
  font-family: mwYFont;
}
.grid-container {
  width: 55%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ".   .   ab1 ab1 .     ."
    "ab2 ab2 ab1 ab1 ab6 ab6"
    "ab2 ab2 ab3 ab3 ab6 ab6"
    "ab4 ab4 ab3 ab3 ab7 ab7"
    "ab4 ab4 ab5 ab5 ab7 ab7"
    ".   .   ab5 ab5 .     .";
}

.ab1 {
  grid-area: ab1;
}

.ab2 {
  grid-area: ab2;
}

.ab3 {
  grid-area: ab3;
}

.ab4 {
  grid-area: ab4;
}

.ab5 {
  grid-area: ab5;
}

.ab6 {
  grid-area: ab6;
}

.ab7 {
  grid-area: ab7;
}